//Контент
.accordion__item--closed .accordion__content {
  display: none;
}

.accordion__item--nojs .accordion__content {
  display: block;
}

.accordion__item--active .accordion__content {
  display: block;
}

//Кнопка
.accordion__button {
  position: relative;
}

//Корректировка нижнего отступа в разделе FAQ
.accordion__item--active .accordion__button--faq {
  padding-bottom: 7px;

  @media (max-width: $tablet-max-width) {
    padding-bottom: 25px;
  }

  @media (max-width: $mobile-max-width) {
    padding-bottom: 12px;
  }
}

//Корректировка нижнего отступа в разделе Filter
.accordion__item--active .accordion__button--filter {
  padding-bottom: 18px;

  @media (max-width: $tablet-max-width) {
    padding-bottom: 22px;
  }

  @media (max-width: $mobile-max-width) {
    padding-bottom: 21px;
  }
}

//Стрелки в разделе FAQ
.accordion__item--active .accordion__button--faq::after {
  content: "";

  position: absolute;
  top: 80%;
  right: 51px;
  transform: translateY(-50%) rotate(135deg);

  width: 10px;
  height: 10px;

  border-left: 1px solid $brown;
  border-bottom: 1px solid $brown;

  @media (max-width: $tablet-max-width) {
    top: 65%;

    width: 16px;
    height: 16px;
  }

  @media (max-width: $mobile-max-width) {
    top: 48%;
    right: 27px;

    width: 12px;
    height: 12px;
  }
}

.accordion__item--closed .accordion__button--faq::before {
  content: "";

  position: absolute;
  top: 48%;
  right: 51px;
  transform: translateY(-50%) rotate(-45deg);

  width: 10px;
  height: 10px;

  border-left: 1px solid $brown;
  border-bottom: 1px solid $brown;

  @media (max-width: $tablet-max-width) {
    top: 45%;

    width: 16px;
    height: 16px;
  }

  @media (max-width: $mobile-max-width) {
    top: 30%;
    right: 27px;

    width: 12px;
    height: 12px;
  }
}

//Стрелки в разделе catalog-filter
.accordion__item--active .accordion__button--filter::after {
  content: "";

  position: absolute;
  top: 55%;
  right: 26px;
  transform: translateY(-50%) rotate(135deg);

  width: 10px;
  height: 10px;

  border-left: 1px solid $brown;
  border-bottom: 1px solid $brown;

  @media (max-width: $tablet-max-width) {
    top: 65%;
    right: 42px;

    width: 16px;
    height: 16px;
  }

  @media (max-width: $mobile-max-width) {
    top: 60%;
    right: 23px;

    width: 14px;
    height: 14px;
  }
}

.accordion__item--closed .accordion__button--filter::before {
  content: "";

  position: absolute;
  top: 45%;
  right: 26px;
  transform: translateY(-50%) rotate(-45deg);

  width: 10px;
  height: 10px;

  border-left: 1px solid $brown;
  border-bottom: 1px solid $brown;


  @media (max-width: $tablet-max-width) {
    top: 45%;
    right: 42px;

    width: 16px;
    height: 16px;
  }

  @media (max-width: $mobile-max-width) {
    top: 45%;
    right: 23px;

    width: 14px;
    height: 14px;
  }
}

//Стрелки при отключенном js
.accordion__item--nojs .accordion__button::before {
  display: none;
}

.accordion__item--nojs .accordion__button::after {
  display: none;
}


/*=============СТАЙЛГАЙД ДЛЯ СТРЕЛОК============*/

//для раздела FAQ, для раздела catalog-filter
//hover
.accordion__button--faq:hover::after,
.accordion__button--faq:hover::before,
.accordion__button--filter:hover::after,
.accordion__button--filter:hover::before {
  border-left: 1px solid $black;
  border-bottom: 1px solid $black;
}

//focus
.accordion__button--faq:focus::after,
.accordion__button--faq:focus::before,
.accordion__button--filter:focus::after,
.accordion__button--filter:focus::before {
  border-left: 1px solid $brown-dark;
  border-bottom: 1px solid $brown-dark;
}
