.catalog-filter--page-main {
  width: 21.4%;

  @media (max-width: $tablet-max-width) {
    width: 100%;
    margin-bottom: 50px;
  }

  @media (max-width: $mobile-max-width) {
    margin-bottom: 40px;
  }
}

.catalog-filter--page-filter {
  width: 590px;
  margin: 0 auto;
  box-sizing: border-box;

  @media (max-width: $tablet-max-width) {
    padding: 40px 0;
    width: 57.5%;
    margin: 0;
  }

  @media (max-width: $mobile-max-width) {
    width: 84.3%;
    margin: 0 auto;
  }
}

//Кнопки
.catalog-filter__button {
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;

  text-align: center;
}

.catalog-filter__button--filter {
  display: none;

  @media (max-width: $tablet-max-width) {
    display: block;
    width: 100%;
    padding: 24px;

    color: $white;

    background-color: $brown;
    border: 1px solid $brown;
  }
}

.catalog-filter__button--legend {
  display: block;
  width: 100%;
  padding: 24px 50px 21px 25px;

  color: $black-text;
  text-align: start;

  background-color: $white;
  border: none;
  cursor: pointer;

  @media (max-width: $tablet-max-width) {
    padding: 34px 90px 34px 40px;

    font-size: 18px;
    line-height: 23px;
  }

  @media (max-width: $mobile-max-width) {
    padding: 24px 40px 24px 20px;
  }
}

.catalog-filter__button--apply {
  width: 100%;
  padding: 23px;
  margin-bottom: 23px;

  color: $white;

  border: 1px solid $brown;
  background-color: $brown;
  cursor: pointer;

  @media (max-width: $tablet-max-width) {
    width: 82%;
    margin-left: 9%;
    margin-bottom: 24px;
  }

  @media (max-width: $mobile-max-width) {
    width: 85.2%;
    margin-left: 7.4%;
    margin-bottom: 18px;
  }
}


.catalog-filter__button--clear {
  width: 100%;
  padding: 23px;

  color: $black-text;

  background-color: $white;
  border: 1px solid $brown;
  cursor: pointer;

  @media (max-width: $tablet-max-width) {
    width: 82%;
    margin-left: 9%;
  }

  @media (max-width: $mobile-max-width) {
    width: 85.2%;
    margin-left: 7.4%;
  }
}

//Форма
.catalog-filter__form {
  @media (max-width: $tablet-max-width) {
    padding-bottom: 40px;
    box-shadow: 0 5px 32px rgba($brown-shadow, 0.24);
  }

  @media (max-width: $mobile-max-width) {
    padding-bottom: 30px;
  }
}

.catalog-filter__form--page-main {
  @media (max-width: $tablet-max-width) {
    display: none;
  }
}

.catalog-filter__wrapper-fieldset {
  margin-bottom: 35px;

  border: 1px solid $brown;
  border-bottom: none;

  @media (max-width: $tablet-max-width) {
    margin-bottom: 40px;

    border: none;
  }

  @media (max-width: $mobile-max-width) {
    margin-bottom: 30px;
  }
}

.catalog-filter__fieldset {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;

  border: none;
  border-bottom: 1px solid $brown;
}

.catalog-filter__fieldset legend {
  display: block;
  width: 100%;
  padding: 0;
  box-sizing: border-box;
}

.catalog-filter__list {
  @include reset-style-list;

  padding: 0 34px 20px 34px;

  @media (max-width: $tablet-max-width) {
    padding: 0 50px 22px 50px;
  }

  @media (max-width: $mobile-max-width) {
    padding: 0 30px 12px 30px;
  }
}

.catalog-filter__item {
  margin-bottom: 5px;

  @media (max-width: $tablet-max-width) {
    margin-bottom: 13px;
  }
}

.catalog-filter__label {
  position: relative;

  display: inline-block;
  vertical-align: baseline;
  padding-left: 25px;

  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: $black-text;

  cursor: pointer;

  @media (max-width: $tablet-max-width) {
    padding-left: 27px;

    font-size: 16px;
    line-height: 21px;
  }
}

input + .catalog-filter__label::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;

  width: 15px;
  height: 15px;

  border: 1px solid $brown;
  background-color: $white;
  box-sizing: border-box;

  @media (max-width: $tablet-max-width) {
    width: 18px;
    height: 18px;
  }
}

input:checked + .catalog-filter__label::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;

  width: 15px;
  height: 15px;

  border: 1px solid $brown;
  background-color: $brown;
  box-sizing: border-box;

  @media (max-width: $tablet-max-width) {
    width: 18px;
    height: 18px;
  }
}

//Ползунок
.catalog-filter__cost-range {
  padding: 0 24px 20px 24px;

  @media (max-width: $tablet-max-width) {
    padding: 3px 88px 39px 50px;
  }

  @media (max-width: $mobile-max-width) {
    padding: 3px 10px 30px 10px;
  }
}

.catalog-filter__range-controls {
  position: relative;

  display: flex;
  align-items: center;
  width: 100%;
  min-height: 15px;
  margin-bottom: 12px;

  @media (max-width: $tablet-max-width) {
    min-height: 18px;
  }
}

.catalog-filter__scale {
  width: 100%;
  height: 1px;

  background-color: $brown-light;
}

.catalog-filter__bar {
  width: 52%;
  height: 1px;
  margin-left: 26.5%;

  background-color: $brown;

  @media (max-width: $tablet-max-width) {
    width: 57.9%;
    margin-left: 18%;
  }

  @media (max-width: $mobile-max-width) {
    width: 55.2%;
    margin-left: 19.6%;
  }
}

.catalog-filter__toggle {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 15px;
  height: 15px;
  padding: 0;

  background-color: $brown;
  border-radius: 50%;

  cursor: pointer;

  @media (max-width: $tablet-max-width) {
    width: 18px;
    height: 18px;
  }
}

.catalog-filter__toggle--min {
  left: 26.5%;
  transform: translateX(-50%);

  @media (max-width: $tablet-max-width) {
    left: 18%;
  }

  @media (max-width: $mobile-max-width) {
    left: 19.6%;
  }
}

.catalog-filter__toggle--max {
  left: 78.5%;
  transform: translateX(-50%);

  @media (max-width: $tablet-max-width) {
    left: 75.7%;
  }

  @media (max-width: $mobile-max-width) {
    left: 74.8%;
  }
}

.catalog-filter__price-controls {
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin: 0 auto;

  @media (max-width: $tablet-max-width) {
    margin: 0;
    margin-left: 8%;
  }
}

.catalog-filter__wrapper-input {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 10px;
  margin-left: 13px;

  text-align: start;

  @media (max-width: $tablet-max-width) {
    width: 40px;
  }
}

.catalog-filter__wrapper-input::before {
  content: attr(data-price);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);

  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: $black-text;

  @media (max-width: $tablet-max-width) {
    font-size: 16px;
    line-height: 21px;
  }
}

.catalog-filter__wrapper-input input {
  padding: 0;
  padding-left: 11px;

  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: start;
  color: $black-text;

  width: 100%;
  box-sizing: border-box;
  border: none;

  cursor: pointer;

  @media (max-width: $tablet-max-width) {
    font-size: 16px;
    line-height: 21px;
  }
}

/*=============СТАЙЛГАЙД============*/
//hover
.catalog-filter__button--legend:hover {
  color: $brown;
}

.catalog-filter__label:hover,
.catalog-filter__wrapper-input input:hover {
  color: $brown-dark;
}

input:checked:hover + .catalog-filter__label::after,
input:hover + .catalog-filter__label::before {
  border: 1px solid $brown-dark;
}

.catalog-filter__button--apply:hover,
.catalog-filter__button--filter:hover,
.catalog-filter__button--clear:hover {
  color: $brown-dark;
}

.catalog-filter__toggle--min:hover,
.catalog-filter__toggle--max:hover {
  background-color: $brown-dark;
}


//focus
.catalog-filter__button--legend:focus {
  box-shadow: inset 0 8px 2px -7px $brown-dark;
  color: $brown-dark;
  outline: none;
}

.catalog-filter__button--apply:focus,
.catalog-filter__button--filter:focus,
.catalog-filter__button--clear:focus,
input:checked:focus + .catalog-filter__label::after,
input:focus + .catalog-filter__label::before,
.catalog-filter__wrapper-input input:focus {
  outline: 2px solid $brown-dark;
}

.catalog-filter__toggle--min:focus,
.catalog-filter__toggle--max:focus {
  outline: 2px solid $brown-dark;
}

//active
.catalog-filter__button--legend:active,
.catalog-filter__button--apply:active,
.catalog-filter__button--filter:active,
.catalog-filter__button--clear:active,
input:checked:active + .catalog-filter__label::after,
input:active + .catalog-filter__label::before,
.catalog-filter__toggle--min:active,
.catalog-filter__toggle--max:active,
.catalog-filter__wrapper-input input:active {
  opacity: 0.7;
  outline: none;
}
