.login {
  width: 430px;
  margin: 0 auto;
  padding: 40px 0;

  @media (max-width: $tablet-max-width) {
    width: 442px;
  }

  @media (max-width: $mobile-max-width) {
    width: 100%;
    padding: 40px 7.8%;
    box-sizing: border-box;
  }
}

.login__inner {
  padding-top: 138px;

  background-color: $brown;
  background-image: url("../img/login-desktop.jpg");
  background-repeat: no-repeat;
  background-position: center start;
  background-size: 100% auto;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/login-desktop@2x.jpg");
  }

  @media (max-width: $tablet-max-width) {
    background-image: url("../img/login-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/login-tablet@2x.jpg");
    }
  }

  @media (max-width: $mobile-max-width) {
    padding-top: 84px;

    background-image: url("../img/login-mobile.jpg");


    @media (min-resolution: 2dppx) {
      background-image: url("../img/login-mobile@2x.jpg");
    }
  }
}

.login__form {
  padding: 50px 45px 54px 45px;

  background-color: $brown-light;

  @media (max-width: $tablet-max-width) {
    padding: 51px 51px 54px 51px;
  }

  @media (max-width: $mobile-max-width) {
    padding: 38px 15px 42px 15px;
  }
}

.login__fieldset {
  padding: 0;
  margin: 0;

  border: none;
}

.login__fieldset legend {
  width: 88px;
  margin: 0 auto;
  margin-bottom: 23px;

  font-family: "Cormorant Garamond", "Times New Roman", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 44px;
  color: $black-text;

  @media (max-width: $mobile-max-width) {
    width: 63px;
    margin-bottom: 16px;

    font-size: 24px;
    line-height: 31px;
  }
}

.login__list {
  @include reset-style-list;

  width: 100%;
}

.login__item {
  width: 100%;
}

.login__item:not(:last-child) {
  margin-bottom: 25px;

  @media (max-width: $mobile-max-width) {
    margin-bottom: 20px;
  }
}

.login__item input {
  width: 100%;
  height: 40px;
  box-sizing: border-box;

  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: $black-text;

  border: none;
  border-bottom: 1px solid $black-text;
  background-color: $brown-light;

  &::placeholder {
    color: $grey;
  }
}

.login__help {
  margin-bottom: 43px;

  text-align: end;

  @media (max-width: $mobile-max-width) {
    margin-bottom: 32px;
  }
}

.login__link-help {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: $grey;
}

.login__button {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  margin-bottom: 14px;
  padding: 23px 24px 22px 24px;
  box-sizing: border-box;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: $white;

  background: $brown;
  border: 1px solid $brown;
  cursor: pointer;
}

.login__signup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 229px;
  margin: 0 auto;
  text-align: center;

  @media (max-width: $tablet-max-width) {
    width: 224px;
  }
}

.login__signup span {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: $grey;
}

.login__link-signup {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: $black-text;
}

/*=============СТАЙЛГАЙД============*/
//hover
.login__button:hover,
.login__link-help:hover,
.login__link-signup:hover {
  color: $brown-dark;
}

.login__item input:hover {
  background-color: rgba($white, 0.4);
}

//focus
.login__button:focus,
.login__link-help:focus,
.login__link-signup:focus,
.login__item input:focus {
  outline: 2px solid $brown-dark;
}

//active
.login__button:active,
.login__link-help:active,
.login__link-signup:active,
.login__item input:active {
  opacity: 0.7;
  outline: none;
}
