.page-header {
  position: relative;

  @media (max-width: $tablet-max-width) {
    padding-top: 55px;

    background-color: $brown;
  }

  @media (max-width: $mobile-max-width) {
    padding-top: 38px;
  }
}

.page-header--closed {
  @media (max-width: $tablet-max-width) {
    background-color: $white;
  }
}

.page-header--nojs {
  @media (max-width: $tablet-max-width) {
    padding-top: 126px;

    background-color: $brown;
  }

  @media (max-width: $mobile-max-width) {
    padding-top: 92px;
  }
}

.page-header--opened {
  @media (max-width: $tablet-max-width) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    width: 100%;
    height: 100%;
  }
}

//Кнопка-гамбургер
.page-header__toggle {
  position: relative;

  display: none;
  width: 25px;
  height: 16px;
  padding: 0;

  border: none;
  background-color: transparent;

  cursor: pointer;

  @media (max-width: $tablet-max-width) {
    display: block;
    margin-bottom: 55px;
    margin-left: 45px;
  }

  @media (max-width: $mobile-max-width) {
    margin-bottom: 38px;
    margin-left: 15px;
  }
}

.page-header--nojs .page-header__toggle {
  @media (max-width: $tablet-max-width) {
    display: none;
  }
}

.page-header--opened .page-header__toggle {
  @media (max-width: $tablet-max-width) {
    margin-bottom: 150px;
  }

  @media (max-width: $mobile-max-width) {
    margin-bottom: 124px;
  }
}

.page-header__toggle::before {
  position: absolute;
  top: 50%;
  transform: translateX(-50%);
  content: "";

  width: 25px;
  height: 2px;

  background-color: $white;
  box-shadow: 0 8px 0 0 $white, 0 -8px 0 0 $white;
}

.page-header--closed .page-header__toggle::before {
  @media (max-width: $tablet-max-width) {
    background-color: $black-text;
    box-shadow: 0 8px 0 0 $black-text, 0 -8px 0 0 $black-text;
  }
}

//Навигация
.page-header__navigation {
  @media (max-width: $tablet-max-width) {
    display: flex;
    flex-direction: column;
    padding-left: 45px;
    padding-right: 45px;

    background-color: $brown;
  }

  @media (max-width: $mobile-max-width) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.page-header--closed .page-header__navigation {
  @media (max-width: $tablet-max-width) {
    padding-top: 0;
  }
}

.page-header--nojs .page-header__navigation {
  @media (max-width: $tablet-max-width) {
    padding-top: 96px;
    padding-bottom: 80px;
  }

  @media (max-width: $mobile-max-width) {
    padding-top: 85px;
    padding-bottom: 80px;
  }
}

.page-header--opened .page-header__navigation {
  @media (max-width: $tablet-max-width) {
    height: calc(100vh - 231px);

    overflow-x: hidden;
    overflow-y: auto;
  }

  @media (max-width: $mobile-max-width) {
    height: calc(100vh - 187px);
  }
}


//Верхнее меню на десктопе
.page-header__wrapper-navigation-top {
  display: flex;
  align-items: start;
  justify-content: space-between;
  max-width: 1230px;
  width: 100%;
  margin: 0 auto;
  padding: 40px 30px 50px 30px;
  box-sizing: border-box;

  @media (max-width: $tablet-max-width) {
    flex-direction: column;
    order: 2;
    padding: 0;
  }
}

//Поле поиска
.page-header__form {
  position: relative;

  @media (max-width: $tablet-max-width) {
    position: absolute;
    top: 136px;
    left: 50%;
    transform: translateX(-50%);
  }

  @media (max-width: $mobile-max-width) {
    top: 102px;
  }
}

.page-header--closed .page-header__form {
  @media (max-width: $tablet-max-width) {
    display: none;
  }
}

.page-header--nojs .page-header__form {
  @media (max-width: $tablet-max-width) {
    display: block;
  }
}

.page-header__form input {
  width: 185px;
  padding-left: 30px;
  box-sizing: border-box;

  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: $black-text;

  border: none;
  background-color: transparent;

  cursor: pointer;

  &::placeholder {
    color: $grey;
  }

  @media (max-width: $tablet-max-width) {
    width: calc(100vw - 90px);
    height: 40px;
    padding-left: 35px;

    background-color: rgba($white, 0.15);
    border-radius: 21px;

    &::placeholder {
      font-size: 0;
    }
  }

  @media (max-width: $mobile-max-width) {
    width: calc(100vw - 30px);
  }
}

.page-header__button-search {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);

  width: 14px;
  height: 14px;
  padding: 0;

  border: none;
  background-color: transparent;
  cursor: pointer;

  @media (max-width: $tablet-max-width) {
    left: 12px;

    width: 16px;
    height: 16px;
  }
}

.page-header__button-search svg {
  width: 14px;
  height: 14px;

  fill: $black;

  @media (max-width: $tablet-max-width) {
    width: 16px;
    height: 16px;

    fill: $white;
  }
}

//Логотип
.page-header__logo-link {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);

  display: block;
  width: 66px;
  height: 66px;

  @media (max-width: $mobile-max-width) {
    top: 20px;

    width: 52px;
    height: 52px;
  }
}

.page-header__logo-link svg {
  width: 66px;
  height: 66px;

  fill: $brown;

  @media (max-width: $tablet-max-width) {
    fill: $white;
  }

  @media (max-width: $mobile-max-width) {
    width: 52px;
    height: 52px;
  }
}

.page-header--closed .page-header__logo-link svg {
  @media (max-width: $tablet-max-width) {
    fill: $brown;
  }
}

.page-header--nojs .page-header__logo-link svg {
  @media (max-width: $tablet-max-width) {
    fill: $white;
  }
}

//Навигация пользователя
.page-header__list-navigation-user {
  @include reset-style-list;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 154px;
  box-sizing: border-box;

  @media (max-width: $tablet-max-width) {
    width: 100%;
  }
}

.page-header__item-navigation-user {
  margin-left: 35px;

  @media (max-width: $tablet-max-width) {
    width: 100%;
    margin-left: 0;
  }
}

.page-header__item-navigation-user a {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: $black-text;

  @media (max-width: $tablet-max-width) {
    font-size: 18px;
    line-height: 130%;
    color: $white;
  }
}

//Корзина
.page-header__item-navigation-user--cart a {
  @media (max-width: $tablet-max-width) {
    position: absolute;
    top: 55px;
    right: 45px;

    display: block;
  }

  @media (max-width: $mobile-max-width) {
    top: 38px;
    right: 15px;
  }
}

.page-header__item-navigation-user--cart p {
  margin: 0;
  display: flex;

  @media (max-width: $tablet-max-width) {
    display: none;
  }
}

.page-header__item-navigation-user--cart span:first-child {
  margin-right: 6px;
}

.page-header__item-navigation-user--cart svg {
  display: none;
  width: 18px;
  height: 16px;

  @media (max-width: $tablet-max-width) {
    display: block;

    stroke: $white;
    fill: $brown;
  }
}

.page-header--closed .page-header__item-navigation-user--cart svg {
  @media (max-width: $tablet-max-width) {
    stroke: $black-text;
    fill: $white;
  }
}

.page-header--nojs .page-header__item-navigation-user--cart svg {
  @media (max-width: $tablet-max-width) {
    stroke: $white;
    fill: $brown;
  }
}

//Логин
.page-header--closed .page-header__item-navigation-user--login {
  @media (max-width: $tablet-max-width) {
    display: none;
  }
}

.page-header--nojs .page-header__item-navigation-user--login {
  @media (max-width: $tablet-max-width) {
    display: block;
  }
}

//Нижнее меню на десктопе
.page-header__wrapper-navigation-bottom {
  padding-top: 18px;
  padding-bottom: 19px;

  border-top: 1px solid $grey-light;

  @media (max-width: $tablet-max-width) {
    flex-direction: column;
    order: 1;
    padding: 0;

    border-top: none;
  }
}

.page-header--closed .page-header__wrapper-navigation-bottom {
  @media (max-width: $tablet-max-width) {
    display: none;
  }
}

.page-header--nojs .page-header__wrapper-navigation-bottom {
  @media (max-width: $tablet-max-width) {
    display: block;
  }
}

//Навигация по сайту Украшения
.page-header__list-navigation-jewellery {
  @include reset-style-list;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 538px;
  padding-left: 11px;
  margin: 0 auto;
  box-sizing: border-box;

  @media (max-width: $tablet-max-width) {
    flex-direction: column;
    width: 100%;
    padding-left: 0;
    margin: 0;
    margin-bottom: 40px;
  }

  @media (max-width: $mobile-max-width) {
    margin-bottom: 29px;
  }
}

.page-header__item-navigation-jewellery {
  padding-left: 17px;
  padding-right: 17px;

  @media (max-width: $tablet-max-width) {
    width: 100%;
    padding-left: 0;
    padding-right: 0;

    text-align: start;
  }
}

.page-header__item-navigation-jewellery:not(:last-child) {
  @media (max-width: $tablet-max-width) {
    margin-bottom: 21px;
  }
}

.page-header__item-navigation-jewellery a {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: $black-text;

  @media (max-width: $tablet-max-width) {
    font-size: 24px;
    line-height: 36px;
    color: $white;
  }
}

//Навигация по сайту О Компании
.page-header__list-navigation-company {
  @include reset-style-list;

  display: none;

  @media (max-width: $tablet-max-width) {
    display: block;
    margin-bottom: 41px;
  }

  @media (max-width: $mobile-max-width) {
    margin-bottom: 31px;
  }
}

.page-header__item-navigation-company:not(:last-child) {
  @media (max-width: $tablet-max-width) {
    margin-bottom: 19px;
  }
}

.page-header__item-navigation-company a {
  @media (max-width: $tablet-max-width) {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    color: rgba($white, 0.75);
  }
}
