//Colors
$white: #ffffff;
$black:#000000;
$black-text:#1d1613;
$brown:#a87b62;
$brown-light: #f0eae4;
$grey:#9b9997;

// Viewports
$min-width: 320px;
$mobile-max-width: 767px;
$tablet-max-width: 1023px;
